* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}

main {
  background: linear-gradient(135deg, #1c1c1c 0%, #0a0a0a 100%);
  height: 120%;
  width: 100%;
  display: grid;
  padding: 20px;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 2fr;
  grid-template-areas:
    "left-top left-top top1 top2 right-top"
    "left-top left-top top1 top2 right-center1"
    "left-center center1 center2 center2 right-center1"
    "left-center center1 center2 center2 right-center2"
    "left-bottom left-bottom left-bottom right-bottom right-bottom";
}

.left-top {
  grid-area: left-top;
  border: 1px solid rgba(255, 255, 255, 0.1);

  /* 2. The Box Shadow: A combination of a deep outer shadow and an inner stroke */
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    /* Deep outer shadow */ rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.up-top {
  height: 30%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 10px;
  img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
  }
}

.content {
  h1 {
    color: rgba(255, 255, 255, 0.823);
    font-size: 1.2rem;
  }
  p {
    color: #5c5c5c;
  }
}
.down-top {
  height: 70%;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  h1 {
    color: rgba(255, 255, 255, 0.823);
    font-size: 1.7rem;
  }
  p {
    color: #5c5c5c;
  }
}

.left-center {
  grid-area: left-center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  overflow: hidden;
  margin: 5px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.left-bottom {
  grid-area: left-bottom;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  padding: 10px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.left-part {
  height: 100%;
  width: 60%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
  h1 {
    color: rgba(255, 255, 255, 0.823);
    font-size: 1.7rem;
  }
  p {
    color: #5c5c5c;
  }
}
.right-part {
  height: 100%;
  width: 40%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 30%;
    width: 30%;
    object-fit: cover;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
      rgba(0, 0, 0, 0.5) 0px 10px 30px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    border-radius: 20px;
    background-color: #1a1a1a;
  }
  img:hover {
    scale: 1.1;
    cursor: pointer;
    transition: ease-in-out 0.2s;
  }
}

.top1 {
  grid-area: top1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.top2 {
  grid-area: top2;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.center1 {
  grid-area: center1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.up-center1 {
  height: 50%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  p {
    font-size: 1rem;
    color: #5c5c5c;
  }
  h1 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.823);
  }
}

.down-center1 {
  height: 50%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
}

.down-center1 > div:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  border-radius: 20px;
  background-color: #1a1a1a;
}

.stack-card {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #28282d5a;
  color: rgba(255, 255, 255, 0.839);
  font-size: 1.5rem;
}
.stack-card:nth-child(1) {
  margin-left: 10px;
}
.center2 {
  grid-area: center2;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  overflow: hidden;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.right-top {
  grid-area: right-top;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "facebook twitter instagram"
    "linkedin github behance";
  margin: 5px;
  gap: 18px;
}

.right-top > div:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

  border-radius: 20px;
  background-color: #1a1a1a;
}
.facebook {
  grid-area: facebook;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.764);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.twitter {
  grid-area: twitter;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: rgba(255, 255, 255, 0.764);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram {
  grid-area: instagram;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: rgba(255, 255, 255, 0.764);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.linkedin {
  grid-area: linkedin;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: rgba(255, 255, 255, 0.764);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github {
  grid-area: github;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: rgba(255, 255, 255, 0.764);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.behance {
  grid-area: behance;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  color: rgba(255, 255, 255, 0.764);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-center1 {
  grid-area: right-center1;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.right-center-1-up{
  height: 80%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  padding: 15px;
  h1{
    color: rgba(255, 255, 255, 0.823);
    font-size: 1.2rem;
  }
  p{
    color: #5c5c5c;
    font-size: 1rem;
  }
}

.right-center-1-down{
  height: 20%;
  width: 100%;
  border-radius: 10px;
  display: flex;
  padding: 15px;
  justify-content: end;
  align-items: center;
  color: #fcfcff;
   i{
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
      rgba(0, 0, 0, 0.5) 0px 10px 30px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    border-radius: 50%;
    background-color: #1a1a1a;
  }
  i:hover{
    scale: 1.1;
    cursor: pointer;
  }
  
}

.right-center2 {
  grid-area: right-center2;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle {
  height: 30%;
  width: 40%;
  background-color: #262626;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}
.toggle:hover {
  scale: 1.1;
}
.toggle-button {
  height: 100%;
  width: 50%;
  font-size: 1.8rem;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-bottom {
  grid-area: right-bottom;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    rgba(0, 0, 0, 0.5) 0px 10px 30px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border-radius: 30px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.left-bottom-content{
  height: 100%;
  width: 80%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  h1{
    color: rgba(255, 255, 255, 0.823);
    font-size: 1.7rem;
  }
  p{
    color: #5c5c5c;
  }
}

.right-bottom-content{
  height: 100%;
  width: 20%;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: end;
  font-size: 1.5rem;
  color: #fcfcff;
  i{
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow:
      rgba(0, 0, 0, 0.5) 0px 10px 30px,
      rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

    border-radius: 50%;
    background-color: #1a1a1a;
  }
  i:hover{
    scale: 1.1;
    cursor: pointer;
  }
}