@import "tailwindcss";

@theme {
  --color-background: #0A0A0A;
  --color-card: #111111;
  --color-border: #262626;
  --color-primary: #C6FF00;
  --color-primary-hover: #B8F500;
  --color-text: #FFFFFF;
  --color-muted: #737373;
}
body {
  font-family: "DM Sans", sans-serif;
  background-color: #0b0b0b;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}